#product_detail{
    .breadcrumb_mobile{
        @include media-breakpoint-down(sm){
            display:none;
        }
    }
    #add_to_cart_wrap{
        margin-bottom:0 !important;
    }
    #product_details{
        .t-brand {
            .brand_dsc{
                color: rgba(33, 37, 41, 0.7) !important;
            }
        }
        h1[itemprop="name"]{
            font-size: 1.75rem;
            font-weight: normal !important;
        }
        .oe_price{
           font-weight:normal;
        }
        #add_to_cart,.o_we_buy_now{
            &:focus{
                box-shadow:unset;
            }
        }
        .availability_messages #threshold_message{
            font-weight: 400 !important;
            color: #ff0000 !important;
        }
    }
    .te_p_sku{
        .js_sku_div{
            font-size: $font-size-base - 0.125;
            color: rgba(33, 37, 41, 0.7);
        }
    }
    .css_quantity{
        margin-top:0.5rem;
        .js_add_cart_json{
            border: 1px solid #CED4DA;
            background-color: #ffffff;
            color: #4c5462;
            z-index: 2;
            border-radius: 50% !important;
            width: 36px;
            height: 36px;
            line-height: 36px;
            padding: 0;
            font-size: 0.812rem;
            &:focus{
                box-shadow: none;
            }
        }
        .quantity{
            margin: 0 10px !important;
            border: 1px solid #CED4DA;
        }
       @include media-breakpoint-down(sm){
                display:none !important;
        }
    }
    .variant_attribute{
            .o_variant_pills_input_value{
                padding: 0.1rem 0.5rem;
            }
        .css_attribute_color{
            border: 4px solid #CED4DA;
            width: 50px;
            height: 50px;
            &.active{
                border: 4px solid $primary;
            }
            &:hover{
                border: 4px solid $primary;
            }
        }
        .attribute_name{
            display: flex;
            align-items: center;
            font-size: 0.9rem;
            padding-bottom: unset;

        }
        label.col-form-label{
            padding: 2px;
        }
        li.js_attribute_value {
            display: inline-block;
            position: relative;
            border-radius:0;
            padding:0;
                & input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: none;
                    margin:0;
                    border: 2px solid;
                    height: 100%;
                    left: 0;
                    opacity: .00001;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 2;
                }
            }
        .attribute_name{
                font-weight: 400;
                text-transform: capitalize;
            &:after{
                border-bottom:0;
            }
        }
        select, .custom_value_own_line, .custom_value_radio {
            width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 6px;
            margin-bottom: 0;
            border-radius: 0;
            box-shadow:unset;
        }
        .te-radio-name{
            cursor: pointer;
            border: 1px solid rgba(33, 37, 41, 0.7);
            color: rgba(33, 37, 41, 0.7);
            padding: 0.1rem 0.5rem;
            margin-right: 0;
            font-weight: normal;
            border-radius: 2px;
            @include media-breakpoint-down(md){
                font-size: 0.875rem;
            }
            > span{
                    vertical-align: baseline;
            }
        }
        .form-check{
            padding-left: 0;
        }
        .form-check-input:checked {
            cursor: not-allowed;
            ~ .te-radio-name {
                cursor: not-allowed;
                color: #ffffff;
                background-color: map-get($theme-colors, 'primary');
                border-width: 1px;
                border-color: map-get($theme-colors, 'primary');
                border-style: solid;
            }
        }
    }
    #o_product_terms_and_share{
        hr{
            opacity:1;
        }
    }
    /* Product shipping info section */
    .te_s_shipping_info {
        margin: 12px 0px 7px;
        ul {
            padding-left: 0;
            margin-bottom: 0;
            li.te_s_shipping_info_li {
                list-style: none;
                display: inline;
                border-color: lightgrey !important;
                padding: 0px 12px 0px 0px;
                margin-right: 14px;
                border-right: 1px solid;
                @include media-breakpoint-down(md){
                    display: block;
                    border:0;
                }
                @include media-breakpoint-down(md){
                    & .share_icon.fa {
                        display: inline-block;
                        width: 20px;
                    }
                    & .share_dsc:last-child{
                        display: inline-block;
                        width: 90%;
                        vertical-align: middle;
                    }
                    border-right: 0px !important;
                    display: block;
                    padding-right: 0px;
                    margin-right: 0px;
                    margin-bottom: 2px;
                }
                &:last-child{
                    border-right: 0px !important;
                }
            }
        }
    }
    .te_discount{
        @include media-breakpoint-up(lg){
            font-size :nth($f_sizes,7) ;
        }
    }
    #o-carousel-product{
        .carousel-indicators{
            justify-content: center !important;
        }
    }
}
.te_style_square{
    .css_attribute_color{
        border-radius: unset;
        margin-right:0.2rem !important;
        &:before {
            border-radius: unset;
            box-shadow: none;
        }
    }
}
.sticky_info{
    .te_discount{
        font-size: $font-size-base - 0.155 !important;
    }
}
.discount .oe_default_price {
    display: inline-block;
    color:nth($f_color,4) !important;
    font-size:nth($f_sizes,7);
}
.product_btns_right_block{
    position: absolute;
    right: 15px;
    top: 0;
    display: flex;
    .o_add_wishlist_dyn,
    .o_add_compare_dyn{
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #f0f0f0;
        padding: 8px;
        background: #fff;
        margin-right:5px;
        @include box-shadow(0px 4px 8px 0px rgba(0, 0, 0, 0.1))
        .fa{
            margin-right:0 !important;
        }

    }
    .o_add_compare_dyn{
        @include media-breakpoint-down(sm){
            display:none !important;
        }
    }
    .btn.o_add_wishlist_dyn.disabled{
        color: #ff0000a6 !important;
        cursor: not-allowed;
    }
}
#o_product_terms_and_share .s_share a {
	font-size: 0.9375rem;
    color: #000000;
    display: inline-grid;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    background: #ffffff;
    border-radius: 100%;
    text-align: center;
    margin: 10px 0;
    width: 38px;
    height: 38px;
    line-height: 38px;
    @include transition(all,.3s,ease-out)
    &:hover{
    	transform: scale(1.2);
    	text-decoration: none;
    }
}
/*--- offer timer ------  */
.te_time_main_div{
    margin-bottom:1rem;
    .product_offer_timer{
        padding:6px 0px 6px;
        display:inline-block;
        .rounded_digit_product{
            margin-right: 0px;
            width: 50px;
            vertical-align: middle;
            display: inline-block;
            box-shadow:0px 0px 10px 0 rgba(50, 50, 93, 0.2);
            border: 1px solid #eaeaea;
            border-radius: 6px;
        }
        #time_lbl{
            font-size:0.75rem;
            color: nth($f_color, 19);
            padding: 0px 5px 4px;
        }
        .te_days_hr_min_sec{
            font-size: 18px;
            padding: 4px 4px 0px;
            line-height: normal;
            font-weight: normal;
	    }
    }
}
.te_offer_timer_prod{
	display: none;
	margin-bottom: 0;
	font-size: 1rem;
    padding:0;
    line-height: normal;
    margin: 0 auto;
}
.digit_separator {
    display: inline-block;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
}
/* ----- offer timer style 2 ----- */
.te_time_main_div.timer_style_2{
     #time_lbl{
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background: black;
        color: white;
        padding: 0px 5px 2px;
    }
    .te_days_hr_min_sec{
        padding: 4px 8px 4px;
    }
}
/* ----- offer timer style 3 ----- */
.te_time_main_div.timer_style_3{
    .product_offer_timer{
        border:1px solid #d3d3d380;
        border-radius:5px;
        @include box-shadow(inset 0px 0px 10px 0 rgba(50, 50, 93, 0.2))
        .rounded_digit_product{
            box-shadow:unset;
            border:unset;
            padding:0px 6px;
        }
        #time_lbl{
            padding: 5px 0px;
        }
        .te_days_hr_min_sec{
            border-bottom:1px dashed;
        }
    }
}
/* ---- offer timer style 4 ----- */
.te_time_main_div.timer_style_4{
    .rounded_digit_product{
        box-shadow: unset;
        background-color: #eaeff3;
        border-radius: 50rem;
        width: 54px;
    }
    #time_lbl{
        font-size:13px;
        padding:0px 6px 6px;
    }
}
/*--------tab content-----------*/
.product-header{
    .nav-tabs {
        button:not(.active){
            &:after {
                content: '';
                display: block;
                height: 2px;
                width: 0px;
                background: transparent;
                transition: width .5s;
            }
            &:hover:after {
                width: 100%;
                background-color: map-get($theme-colors, 'primary');
            }
        }
        .nav-link{
            border: none !important;
            padding: 0 0.5rem;
            background-color:unset !important;
            &.active{
                 li{
                    border-bottom: 2px solid map-get($theme-colors, 'primary');
                }
            }
            &:hover{
                border-color: transparent;
            }
             a:hover{
                text-decoration:none;
            }
        }
        a.te_tab_mb_nav_link {
            padding: 0.6rem 1rem;
            border-bottom: 2px solid transparent;
            margin-bottom: -3px;
            display: inline-block;
        }
    }
}
.o_shop_discussion_rating{
    .o_portal_chatter_message,
    .o_portal_chatter_composer:first-child{
        border: 1px solid #ededed;
            padding: 15px 15px;
            border-radius: 10px;
            box-shadow: 0 3px 12px #ccc;
    }
    .o_wrating_publisher_container{
        margin-top:0.5rem;
    }
}
#product_full_spec {
    .product_tags,
    #product_specifications {
        tr {
            @include transition(all, 0.3s, ease-out);
            &.clickable {
                cursor: pointer;
				&.collapsed{
					.te_ctg_icon::before{
						content: "\f054";
					}
				}
				.te_ctg_icon{
					float: right;
					padding-top: 2px;
				}
            }
            &:nth-of-type(odd) {
                background-color: #f8f8f8;
            }
            &:hover {
                background-color: #efefef;
            }
            &:first-child td {
                border-top-width: 0px;
            }
            td,th{
                padding: 1rem;
				border:0;
				border-bottom: 1px solid #ededed;
				.att_name{
					font-size: nth($f_sizes,1);
				}
				span{
					font-size: nth($f_sizes,1);
				}
            }
        }
    }
}
#product_documents{
    li{
        position:relative;
        &.doc_list{
            border: 1px solid #2f222230;
            display: inline-block;
            margin: 5px;
            padding: 8px 10px 10px 5px;
            border-radius: 7px;
        }
        a i{
            margin-left: 5px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            width: 30px;
            height: 30px;
            vertical-align: middle;
        }
    }
    .fa-external-link{
        padding:7px 0;
    }
}
.tabs_container_main{
    .nav-tabs{
        @include media-breakpoint-down(lg){
            display: none !important;
        }
        .accordion-body{
            padding: 0;
        }
    }
    .card-header{
        display: none;
         @include media-breakpoint-down(lg){
            display: block ;
            border-bottom: 1px solid #ededed;
        }
    }
    .tab-pane{
         >.collapse:not(.show){
            @include media-breakpoint-up(lg){
                display:block !important;
            }
        }
    }
    .tab-content{
        >.tab-pane{
            @include media-breakpoint-down(lg){
                display: block !important;
                opacity:1;
                padding:0 !important;
            }
        }
        .te-tab-a{
            &:after{
              content: "\f078";
              font-family: "FontAwesome";
              width: 0.8rem;
              display: block;
              float: right;
              font-size: 0.8125rem;
              color: #919BA6;
            }
            &.collapsed{
                &:after{
                   content: "\f054";
                }
            }
        }
    }
}
/* Sticky product page details */
.product_details_sticky {
    display: none;
    @include position(fixed,null,0,10px,0);
    background: transparent;
    max-width: 60%;
    margin: 0 auto;
    z-index: 1030;
    @media (max-width: 1366px){
        max-width: 65%;
    }
    @media (max-width: 1200px){
        max-width: 75%;
    }
    @include media-breakpoint-down(lg){
        max-width: 88%;
    }
    @include media-breakpoint-down(md){
        z-index: 8;
        max-width: 100%;
        bottom: 0px;
    }
    .te_theme_button {
        margin: 0px !important;
        font-size: nth($f_sizes,1);
        @include media-breakpoint-down(md){
            font-size: nth($f_sizes,2);
            padding: 0.575rem 0.675rem;
        }
    }
}
.prod_details_sticky_div{
     box-shadow: 0px 0px 16px 0 #2323295c;
     text-align: center;
     border-radius: 12px;
     margin: 0px auto;
     width: 100%;
     max-width: 1400px;
     max-height:84px;
     background-color: nth($f_color,5);
    @include media-breakpoint-down(sm){
        border: 0px;
    }
     @include media-breakpoint-down(md){
         border-radius: 0px;
         max-height:unset;
     }
    .prod_details_sticky_left {
        width: 100%;
        padding: 10px;
        vertical-align: middle;
        display:inline-block;
        @include media-breakpoint-down(md){
            width: 100%;
            text-align: unset;
            padding: 0px !important;
        }
        > .prod_img {
            width: 75px;
            min-height: 75px;
            float: left;
            @include media-breakpoint-down(md){
                padding: 4px;
                width: auto;
                display: none;
            }
            > img{
                max-width: 100%;
                height: auto;
                border-radius: 12px !important;
                @include media-breakpoint-down(md){
                    width: 45px;
                    display: none;
                 }
            }
        }
        .sticky_info {
            float: left;
            width: 50%;
            @include media-breakpoint-down(md){
                width: 40%;
            }
            .te_p_categ_item a.text-muted {
                font-size: 13px;
            }
            > .cat_name{
                text-align: left;
                padding-left: 0.8rem;
                font-size: 0.875rem;
                @include media-breakpoint-down(md){
                    display: none;
                }
            }
            > .prod_name {
                padding-left: 0.7rem;
                text-align: left;
                @include media-breakpoint-down(md){
                    display: none;
                }
                h1.te_product_name {
                    margin-bottom: 0px;
                    font-size: 1rem !important;
                    display: block;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    @include media-breakpoint-down(md){
                        font-size: nth($f_sizes,8) !important;
                    }
                    @include media-breakpoint-down(sm){
                        font-size: 0.900rem !important;
                    }
                }
            }
            > .prod_price {
                text-align: left;
                width: auto;
                padding-left: 0.7rem;
                del{
                    @include media-breakpoint-down(md){
                        font-size: $font-size-base - 0.225 !important;
                    }
                }
                span{
                    font-size: $font-size-base - 0.225 !important;
                }
                @include media-breakpoint-down(md){
                    width: auto;
                    text-align: right;
                    display: none;
                }
                .css_editable_mode_hidden{
                    display:inline-block;
                    line-height:0;
                }
            }
        }
    }
    .prod_details_sticky_right {
        text-align: right;
        padding: 15px 0px;
        @include media-breakpoint-down(md){
            width: 100%;
            padding: 5px;
            @include box-shadow(0px 0px 10px 0 rgba(0, 0, 0, 0.2));
        }
        .prod_add_cart{
            @include media-breakpoint-down(md){
                display: flex;
            }
        }
        a#add_to_cart,
         .o_we_buy_now{
            font-size:nth($f_sizes,1);
            box-shadow:unset;
            @include media-breakpoint-up(md){
                width: auto !important;
            }
            @include media-breakpoint-down(sm){
                width:50%;
            }
        }
    }
}
/* product price table */
.te_price_table{
    th{
        background-color: #cdcdcd;
    }
    table td{
        padding: 0.5rem 0.9rem !important;
    }
    tr:nth-child(odd){
        background: #1612120d;
    }
}